<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Archive</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/base.css" />
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <main>
      <h1>Something went wrong</h1>
      <p class="error"><%= message %></p>
      <a class="a-button" href="/">Back to Home</a>
    </main>
  </body>
</html>
