<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Archive</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <main>
      <h2>📚 Book Archive</h2>
      <section class="count-grid">
        <div class="count-card">
          <p>Books</p>
          <p class="count-num"><%= count.book_count %></p>
          <a href="/books/add" class="a-button">+ Add Book</a>
        </div>
        <div class="count-card">
          <p>Authors</p>
          <p class="count-num"><%= count.author_count %></p>
          <a href="/authors/add" class="a-button">+ Add Author</a>
        </div>
        <div class="count-card">
          <p>Genres</p>
          <p class="count-num"><%= count.genre_count %></p>
          <a href="/genres/add" class="a-button">+ Add Genre</a>
        </div>
      </section>
    </main>
  </body>
</html>
